.mailto {
  display: none;
  width: 33%;
  height: 33%;
  position: absolute;
  z-index: 100;
  left: 33%;
  right: 33%;
  bottom: 20%;
}

@media screen and (orientation: landscape) {
  .mailto {
    bottom: 10%;
  }
}
