.slide-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fp-section {
  background: #000000;
}

.slide-1 {
  background-image: url("../img/Portrait_Intro_01.jpg")
}
.slide-2 {
  background-image: url("../img/Portrait_Intro_02.jpg")
}
.slide-3 {
  background-image: url("../img/Portrait_Intro_03.jpg")
}
.set-1-nav, .set-2-nav, .set-3-nav, .set-4-nav {
  background-image: url("../img/Portrait_Nav_01.jpg")
}
.slide-5 {
  background-image: url("../img/Portrait_Sec1_01.jpg")
}
.slide-6 {
  background-image: url("../img/Portrait_Sec1_02.jpg")
}
.slide-7 {
  background-image: url("../img/Portrait_Sec1_03.jpg")
}
.slide-8 {
  background-image: url("../img/Portrait_Sec1_04.jpg")
}
.slide-9 {
  background-image: url("../img/Portrait_Sec2_01.jpg")
}
.slide-10 {
  background-image: url("../img/Portrait_Sec2_02.jpg")
}
.slide-11 {
  background-image: url("../img/Portrait_Sec3_01.jpg")
}
.slide-12 {
  background-image: url("../img/Portrait_Sec3_02.jpg")
}
.slide-13 {
  background-image: url("../img/Portrait_Sec4_01.jpg")
}
.slide-14 {
  background-image: url("../img/Portrait_Sec4_02.jpg")
}
.set-1-end, .set-2-end, .set-3-end, .set-4-end {
  background-image: url("../img/Portrait_Section_End.jpg")
}

.fp-tableCell {
  display: flex;
}
.nav-slide--box {
  width: 25vw;
  height: 100vh;
}

@media screen and (orientation: landscape) {

  .slide-1 {
    background-image: url("../img/Landscape_Intro_01.jpg")
  }
  .slide-2 {
    background-image: url("../img/Landscape_Intro_02.jpg")
  }
  .slide-3 {
    background-image: url("../img/Landscape_Intro_03.jpg")
  }
  .set-1-nav, .set-2-nav, .set-3-nav, .set-4-nav {
    background-image: url("../img/Landscape_Nav_01.jpg")
  }
  .slide-5 {
    background-image: url("../img/Landscape_Sec1_01.jpg")
  }
  .slide-6 {
    background-image: url("../img/Landscape_Sec1_02.jpg")
  }
  .slide-7 {
    background-image: url("../img/Landscape_Sec1_03.jpg")
  }
  .slide-8 {
    background-image: url("../img/Landscape_Sec1_04.jpg")
  }
  .slide-9 {
    background-image: url("../img/Landscape_Sec2_01.jpg")
  }
  .slide-10 {
    background-image: url("../img/Landscape_Sec2_02.jpg")
  }
  .slide-11 {
    background-image: url("../img/Landscape_Sec3_01.jpg")
  }
  .slide-12 {
    background-image: url("../img/Landscape_Sec3_02.jpg")
  }
  .slide-13 {
    background-image: url("../img/Landscape_Sec4_01.jpg")
  }
  .slide-14 {
    background-image: url("../img/Landscape_Sec4_02.jpg")
  }
  .set-1-end, .set-2-end, .set-3-end, .set-4-end {
    background-image: url("../img/Landscape_Section_End.jpg")
  }
}
