.fp-controlArrow {
  top: initial;
  bottom: 2%;
  background-image: url('../img/Nav_Arrow.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px !important;
  height: 50px;
  border: none;
}
.fp-controlArrow.fp-prev {
  left: 38%;
}

.fp-controlArrow.fp-next {
  right: 38%;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}


.menu-button {
  background-image: url('../img/Nav_Menu.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 9;
  left: 0;
  right: 0;
  margin: 0 auto;
}


.home-button {
  background-image: url('../img/Nav_Home.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 9;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.hide-nav {
  display: none;
}

@media screen and (orientation: landscape) {
  .fp-controlArrow.fp-prev {
    left: 40%;
  }

  .fp-controlArrow.fp-next {
    right: 40%;
  }
}
